.footer {
  color: #545454;
  max-width: 882px;
  margin: auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding: 67px 0 45px;
}

.footer__text {
  margin: 0 auto;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.285);
}
