.form__close-button {
  position: absolute;
  width: 40.7px;
  height: 40.7px;
  color: #ffffff;
  top: -40px;
  right: -40px;
}

.form {
  margin: auto;
  width: 430px;
  height: 272px;
  padding-top: 3rem;
  border-radius: 20px;
  gap: 23.1px;
}

.form__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  color: #000000;
}

.form__input {
  width: 358px;
  height: 27.26px;
  margin: auto;
  margin: 0;
  flood-color: #c4c4c4;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  gap: 43px;
  margin-left: 40px;
  border-radius: 20px;
  padding: 0.8px;
}

.form__input_type_error {
  border-bottom: 1px solid red;
}

.form__error {
  margin-left: 30px;
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.form__button {
  width: 358px;
  height: 50.15px;
  background-color: palevioletred;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 21.78px;
  border-radius: 20px;
  border: none;
}

.form__button_disabled {
  background-color: rgb(250, 203, 211);
  pointer-events: none;
}
